<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Hi, I'm Jenifer Jues! Currently, I'm pursuing my study in Master of Data Science at University of Malaya. I am intrigued by the idea of utilizing data to uncover hidden patterns, trends and useful insights to provide novel solutions to complex problems. From DATA to TADA ! Furthermore, these insights will assist in making better decisions and strategies. I have experience in programming language such as Python, R Programming, HiveQL and Octave Script (MATLAB).</p>
      </div>
      <div class="col-lg-4">
        <p>I have carried out various data science projects by utilizing these tools. Besides that, I have passion in continuous learning of the advancement in the field to expand knowledge and enhance skills. Therefore, I am looking forward to engaging and collaborating with other data science enthusiast to broaden my knowledges and elevating my skills. </p>
      </div>
    </div>
  </div>
</section>
