<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Resume</title>
  <link rel="stylesheet" href="resume-styles.css"> <!-- Link to specific resume CSS file -->
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <!-- Resume Content -->
  <div class="container resume-content">
    <header>
      <h1>John Doe's Resume</h1>
    </header>
    <main>
      <aside class="sidebar">
        <div class="profile-pic">
          <img src="img/profile.png" alt="Profile Picture">
        </div>
        <section class="personal-info">
          <h2>Personal Information</h2>
          <p>Name: Jenifer Mayang Jues</p>
          <p>Email: jeniferjues@gmail.com</p>
          <p>Location: Sarawak, Malaysia</p>
        </section>
        <section class="education">
          <h2>Education</h2>
          <li>**University of Malaya, 2024(expected)**</li>
          <li>Master of Data Science</li>
          <li>Current CGPA: 3.65</li>
          <li>**Swinburne University of Technology Sarawak Campus, 2018**</li>
          <li>Bachelor of Science (Biotechnology)</li>
          <li>**Matriculation College Sarawak, 2014**</li>
          <li>Science PST Module III</li>
        </section>
        <section class="language">
          <h2>Languages</h2>
          <p>English (Fluent)</p>
          <p>Malay (Fluent)</p>
          <p>Iban (Fluent)</p>
        </section>
        <section class="skills">
          <h2>Skills</h2>
          <ul>
            <p>Proficient level at the following softwares/programs</p>
            <li>Microsoft Office Packagge(Word, PowerPoint, Excel)</li>
            <li>Phyton, R programming, Apache Hive, Apache Hbase</li>
            <li>SAS, WEKA, MATLAB, Octave, Google Cloud Platform(GCP)</li>
          </ul>
        </section>
      </aside>

      <section class="main-content">
        <section class="career-objective">
          <h2>Career Objective</h2>
          <p>To utilize my skills and experience in web development to contribute effectively to a dynamic team and achieve company goals.</p>
        </section>

        <section class="work-experience">
          <h2>Work Experience</h2>
          <div class="job">
            <h3>Research Assistant(Intern)</h3>
            <p>Agriculture Research Center | Jan 2018 - Oct 2018</p>
            <ul>
              <li>Handling and carrying out “Genetic variation of Durian (Durio ziberthinus) clones in Sarawak assessed by simple sequence repeat (SSR) markers” to collect genetic information that helps to verify and confirm the identity of durian fruits for future breeding program</li>
              <li>DNA profiling using Polymerase Chain Reaction (PCR)</li>
            </ul>
          </div>
        </section>

        <section class="projects">
          <h2>Projects Undertaken</h2>
          <div class="project">
            <h3>Stroke Prediction</h3>
            <p><a href="https://example.com">https://example.com</a></p>
            <p>A project to develop machine learning model to predict risk of getting Stroke.</p>
          </div>
          <div class="project">
            <h3>Fake Job Posting Analysis</h3>
            <p><a href="https://github.com/johndoe/task-manager">GitHub Repository</a></p>
            <p>An exploratory data analysis project related to Job Scams</p>
              <h3>Cardiac Rehabilitation Recommendation</h3>
            <p><a href="https://github.com/johndoe/task-manager">GitHub Repository</a></p>
            <p>Utilizing authentic cardiac patient data to develop machine learning model to predict cardiac rehabilitation recommendations.</p>
            <h3>Predicting Food Insecurity in ASEAN countries</h3>
            <h3>Heart Disease Prediction Through Various Indicators</h3>
            <h3>Classification of Patients with Suspected Hepatitis C Virus Infection Using Machine Learning Approach</h3>
            <h3>Diet Optimization</h3>
            <h3>Association Rules and Clustering Technique in Data Mining: Case Study of Online Retail</h3>
          </div>
        </section>

        <section class="references">
          <h2>References</h2>
          <p>Available upon request.</p>
        </section>
      </section>
    </main>
  </div>

  <!-- Bootstrap JS and dependencies -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

