/* Your custom styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  padding-top: 50px;
}

/* Ensure modal/dialog fills the entire viewport */
.portfolio-modal .modal-content {
  height: 100vh; /* Full height of the viewport */
  border: none;
  border-radius: 0;
}

.portfolio-modal .modal-body {
  padding: 2rem; /* Adjust padding as needed */
  overflow-y: auto;
}

/* Adjust Swiper gallery to fill modal content */
.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide img {
  width: 100%; /* Ensure images fill the swiper slide */
  height: 100%; /* Ensure images fill the swiper slide */
  object-fit: cover; /* Adjust image aspect ratio */
}


.portfolio-modal .item-details {
  margin-top: 20px;
}

.portfolio-modal .tags {
  margin-top: 10px;
}

.portfolio-modal .tags ul {
  padding: 0;
}

.portfolio-modal .tags ul li {
  display: inline-block;
  margin-right: 10px;
}

.portfolio-modal .btn-default {
  margin-top: 20px;
}

.portfolio-modal .btn-default i {
  margin-right: 5px;
}

.swiper-button-next,
.swiper-button-prev {
    color: #fff; /* Customize navigation button color */
    background-color: rgba(0, 0, 0, 0.5); /* Customize background color */
    width: 10px; /* Adjust button width */
    height: 10px; /* Adjust button height 
